.title{
    color: #0d0d0d;
    font-size: 30px;
    line-height: 27px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    &_advantages {
        margin-bottom: 65px;
    }

    &_consultation {
        color: #ffffff;
        font-size: 36px;
        line-height: 36px;
        text-align: left;
        margin-bottom: 80px;
    }
}