.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url(../images/bg/bg_2.png) center (center/cover) no-repeat;

    &__subheader {
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 36px;
    }
}